<p>user works!</p>
<div nz-row>
  <div nz-col nzSpan="8">
    <input nz-input #SearchInput placeholder="Tìm kiếm" id="search"  type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country" />
  </div>
  <div class="card" [hidden]="!showSearches">
    <div class="search">
      <div *ngFor="let car of searchedCars; trackBy: trackById" tappable (click)="setCarName(car)"
        class="search-result">
        {{car}}
      </div>
    </div>
    <p class="search" *ngIf="searchedCars && searchedCars.length <= 0 && !isSearching">No Car found</p>
    <p class="search" [hidden]="!isSearching">Searching cars...</p>
  </div>
  <div nz-col nzSpan="8">
    <button nz-button nzType="primary">Tìm kiếm</button>

  </div>
  <div nz-col nzSpan="8">
    <button nz-button nzType="primary" (click)="showModal()">Thêm</button>

  </div>
</div>

<div class="table" style="margin-top: 20px;">
  <nz-table #basicTable>
    <thead>
      <tr>
        <th>Lib</th>
        <th>Dev-app</th>
        <th>Test-app</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listLibs">
        <td>{{item.name}}</td>

        <td  *ngFor="let app of item.apps"  [ngClass]="{'class1': app?.version==item.version,'class2': app?.version !==item.version}">{{app?.version}}</td>
      </tr>

    </tbody>
  </nz-table>
</div>

<app-modal-user [(isVisible)]="isVisible" [User]="user"></app-modal-user>