<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" style="min-width: 303px;" class="side-bar">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline" style="font-size: medium;">
            <li nz-submenu nzTitle="User" nzIcon="user" [routerLink]="['dashboard/manager-player']" [routerLinkActive]="'active'">

            </li>
            <li nz-submenu nzTitle="Team" nzIcon="team">
                <ul>
                    <li nz-menu-item>Team 1</li>
                    <li nz-menu-item>Team 2</li>
                </ul>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="file"></span>
                <span>File</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <!-- <span class="trigger" nz-icon (click)="isCollapsed = !isCollapsed"></span> -->
            Tổng quát
        </nz-header>
        <nz-content>
            <nz-breadcrumb>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>Ant Design ©2022 by Hoang Yen Lio</nz-footer>
    </nz-layout>
</nz-layout>