.gutter-row{
    .information-player{
        background-color: bisque;
        height: 150px;
        .form{
            display: flex;
            justify-content: space-evenly;
        }


    }

}
.detail{
    margin-top: 20px;
    background-color: bisque;
}
.value{
    background-color: aqua;
}
.trader{
    background-color: bisque;
}
.table{
    margin-top: 10px;
    width: 100%;
}