<div class="manager-stock">
  <div nz-row>
    <div nz-col nzSpan="6">
      <nz-input-group>
        <input type="text" nz-input placeholder="input search text" />
      </nz-input-group>
    </div>
    <div nz-col nzSpan="18" >
        <div nz-row [nzJustify]="'end'">
            <button nz-button nzType="primary"  nzShape="round" (click)="showModal()">
                <span nz-icon nzType="download"></span>
                Tạo cổ phiếu
              </button>
        </div>
      </div>
  </div>
  <div nz-row>
    <nz-table #basicTable class="table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã cổ phiếu</th>
          <th>Số lượng CP đã phát hành</th>
          <th>Vốn hoá</th>
          <th>Số lượng CP chưa GD</th>
          <th>Số lượng CP BOT sở hữu</th>
          <th>Số lượng cố đông</th>
          <th></th>

        </tr>
      </thead>
      <tbody>
        <tr>
            <td>demo</td>
            <td>demo</td>
            <td>demo</td>
            <td>demo</td>
            <td>demo</td>
            <td>demo</td>
            <td>demo</td>
            <td>
                <button nz-button nzType="primary"  nzShape="round" >
                    <span nz-icon nzType="download"></span>
                    Xem chi tiết
                  </button>
            </td>

        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<app-create-stock  [(isVisible)]="isVisible"></app-create-stock>